.navbar {
	margin-bottom: 0px;
	padding: 0px;
	z-index: 2;
	border-radius: 0;
	border:none;
	background-color: #3f51b5;
}

.img-nav {
	max-width: 60%;
}

.navbar-brand {
	padding: 5px;
	width: 50%
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 75px;
}